<ul class="bxslider">
  <li id="collar">
    <ul class="customization-options">
      <li><%= image_tag 'collars/medium_point.png' %></li>
      <li><%= image_tag 'collars/classic_point.png' %></li>
      <li><%= image_tag 'collars/small_point.png' %></li>
      <li><%= image_tag 'collars/spread.png' %></li>
      <li><%= image_tag 'collars/large_spread.png' %></li>
      <li><%= image_tag 'collars/cutaway.png' %></li>
      <li><%= image_tag 'collars/button_down.png' %></li>
    </ul>
  </li>
  <li id="cuffs">
    <ul class="customization-options">
      <li><%= image_tag 'cuffs/two_button_barrel.png' %></li>
      <li><%= image_tag 'cuffs/two_button_angled.png' %></li>
      <li><%= image_tag 'cuffs/two_button_rounded.png' %></li>
      <li><%= image_tag 'cuffs/one_button_angled.png' %></li>
      <li><%= image_tag 'cuffs/one_button_rounded.png' %></li>
      <li><%= image_tag 'cuffs/french_cuffs_barrel.png' %></li>
    </ul>
  </li>
  <li id="monogram">
  <div class="customization-options">Monogram</div>
  </li>
</ul>

<div class="outside">
  <h3>This div is outside of the slider</h3>
  <p><span id="slider-prev"></span> | <span id="slider-next"></span></p>
</div>
